/* body {
    background-color: aqua;
} */

section{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    padding: 50px 0;
    background: url("../img/fondo1.jpg");
    background-size: cover;

}

h1{
font-size: 60px;
color: #ffffff;
margin-bottom: 20px;
}

p{
    font-size: 22px;
    color: #ffffff;
}

button {
    padding: 12px 40px ;
    margin: 15px;
    background-color: burlywood;
    color: #ffffff;
    font-size: 15px;
    border: 1.5px solid #ffffff;
    border-radius: 25px;
    cursor: pointer;
    transition: .1s;
    
}

button:hover{
    background: transparent;
    border-radius: 0;
    border: 2px dotted #8d5fe4;
}

footer{
    color: beige;
}